flows/books_data_etl.yaml

id: books_data_etl
namespace: books_pipeline

tasks:
  - id: working_dir
    type: io.kestra.plugin.core.flow.WorkingDirectory
    tasks:
      - id: download_kaggle
        type: io.kestra.plugin.scripts.shell.Commands
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
        containerImage: python:3.11-slim
        outputFiles:
          - "top_rated_books/*.csv"
        env:
          KAGGLE_USERNAME: "{{ kv('KAGGLE_USERNAME') }}"
          KAGGLE_KEY: "{{ kv('KAGGLE_KEY') }}"
        commands:
          - pip install kaggle
          - kaggle datasets download -d arashnic/book-recommendation-dataset
          - apt-get update && apt-get install -y unzip
          - mkdir -p top_rated_books
          - unzip book-recommendation-dataset.zip -d top_rated_books
          - rm book-recommendation-dataset.zip
        
  - id: upload_files
    type: io.kestra.plugin.core.flow.ForEach
    values:
      - Books.csv
      - Users.csv
      - Ratings.csv
    tasks:
      - id: upload_to_gcs
        type: io.kestra.plugin.gcp.gcs.Upload
        # Use taskrun.value to get the filename from the loop
        from: "{{ outputs.download_kaggle.outputFiles['top_rated_books/' ~ taskrun.value] }}"
        to: "gs://{{ kv('GCP_BUCKET_NAME') }}/raw/{{ taskrun.value }}"
        serviceAccount: "{{ kv('GCP_CREDS') }}"



# ==========================================
  # PHASE 2: SPARK PROCESSING (Needs a separate fresh directory)
  # ==========================================
  - id: processing_phase
    type: io.kestra.plugin.core.flow.WorkingDirectory
    tasks:
      - id: clone_repository
        type: io.kestra.plugin.git.Clone
        url: https://github.com/ltp-94/book-data-pipeline
        branch: main

      - id: gcs_spark_books
        type: io.kestra.plugin.spark.SparkCLI
        inputFiles:
          gcp-key.json: "{{ kv('GCP_CREDS') }}"
        containerImage: apache/spark:4.0.1-java21-r
        env:
          GCP_KEY_PATH: "gcp-key.json"
          SPARK_DRIVER_JAVA_OPTS: "-Djdk.security.allowNonCausingSubstitutions=true"
          SPARK_EXECUTOR_JAVA_OPTS: "-Djdk.security.allowNonCausingSubstitutions=true"
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
          networkMode: kestra-spark-network
          user: root
        commands:
          - >
            spark-submit 
            --master spark://spark-master:7077
            --conf "spark.jars.ivy=/tmp/.ivy2"
            --conf "spark.local.dir=/tmp"
            --conf "spark.sql.shuffle.partitions=2"
            --files gcp-key.json
            --conf "spark.hadoop.google.cloud.auth.service.account.enable=true"
            --conf "spark.hadoop.google.cloud.auth.service.account.json.keyfile=gcp-key.json"
            --conf "spark.hadoop.fs.gs.region={{ kv('GCP_LOCATION') }}"
            --packages com.google.cloud.bigdataoss:gcs-connector:hadoop3-2.2.17 
            pyspark/gcs_spark_transformation.py

  - id: ingest_from_gcs
    type: io.kestra.plugin.gcp.bigquery.Query
    serviceAccount: "{{ kv('GCP_CREDS') }}"
    projectId: "{{ kv('GCP_PROJECT_ID') }}"
    location: "{{ kv('GCP_LOCATION') }}"
    sql: |
      LOAD DATA OVERWRITE `{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.books_data`
      -- Partitioning by Integer Year:
      PARTITION BY RANGE_BUCKET(year, GENERATE_ARRAY(1800, 2030, 1))
      CLUSTER BY author
      FROM FILES (
        format = "PARQUET",
        uris = ["gs://{{ kv('GCP_BUCKET_NAME') }}/staging/books/*.parquet"]
      );

      LOAD DATA OVERWRITE `{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.users_data`
      -- Partitioning by Integer age:
      PARTITION BY RANGE_BUCKET(age, GENERATE_ARRAY(0, 100, 10))
      CLUSTER BY country
      FROM FILES (
        format = "PARQUET",
        uris = ["gs://{{ kv('GCP_BUCKET_NAME') }}/staging/users/*.parquet"]
      );
      
      LOAD DATA OVERWRITE `{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.ratings_data`
      FROM FILES (
        format = "PARQUET",
        uris = ["gs://{{ kv('GCP_BUCKET_NAME') }}/staging/rating/*.parquet"]
      );

  - id: log_success
    type: io.kestra.plugin.core.log.Log
    message: "Data successfully loaded with Integer Year Partitioning."


