flows/kaggle_to_gcs_spark.yaml
id: kaggle_to_gcs_spark
namespace: company.team

tasks:
  - id: working_dir
    type: io.kestra.plugin.core.flow.WorkingDirectory
    tasks:
      - id: download_kaggle
        type: io.kestra.plugin.scripts.shell.Commands
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
        containerImage: python:3.11-slim
        outputFiles:
          - "top_rated_books/*.csv"
        env:
          KAGGLE_USERNAME: "{{ kv('KAGGLE_USERNAME') }}"
          KAGGLE_KEY: "{{ kv('KAGGLE_KEY') }}"
        commands:
          - pip install kaggle
          - kaggle datasets download -d arashnic/book-recommendation-dataset
          - apt-get update && apt-get install -y unzip
          - mkdir -p top_rated_books
          - unzip book-recommendation-dataset.zip -d top_rated_books
        
  - id: upload_files
    type: io.kestra.plugin.core.flow.ForEach
    values:
      - Books.csv
      - Users.csv
      - Ratings.csv
    tasks:
      - id: upload_to_gcs
        type: io.kestra.plugin.gcp.gcs.Upload
        # Use taskrun.value to get the filename from the loop
        from: "{{ outputs.download_kaggle.outputFiles['top_rated_books/' ~ taskrun.value] }}"
        to: "gs://kestra-bucket-latypov/raw/{{ taskrun.value }}"
        serviceAccount: "{{ kv('GCP_CREDS') }}"



# ==========================================
  # PHASE 2: SPARK PROCESSING (Needs a separate fresh directory)
  # ==========================================
  - id: processing_phase
    type: io.kestra.plugin.core.flow.WorkingDirectory
    tasks:
      - id: clone_repository
        type: io.kestra.plugin.git.Clone
        url: https://github.com/ltp-94/kestra
        branch: main

      - id: gcs_spark_books
        type: io.kestra.plugin.spark.SparkCLI
        inputFiles:
          gcp-key.json: "{{ kv('GCP_CREDS') }}"
        containerImage: apache/spark:4.0.1-java21-r
        env:
          GCP_KEY_PATH: "gcp-key.json"
          SPARK_DRIVER_JAVA_OPTS: "-Djdk.security.allowNonCausingSubstitutions=true"
          SPARK_EXECUTOR_JAVA_OPTS: "-Djdk.security.allowNonCausingSubstitutions=true"
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
          networkMode: kestra-spark-network
          user: root
        commands:
          - >
            spark-submit 
            --master spark://spark-master:7077 
            --conf "spark.hadoop.google.cloud.auth.service.account.enable=true"
            --conf "spark.hadoop.google.cloud.auth.service.account.json.keyfile=gcp-key.json"
            --packages com.google.cloud.bigdataoss:gcs-connector:hadoop3-2.2.17 
            pyspark/gcs_spark_books.py

      - id: gcs_spark_users
        type: io.kestra.plugin.spark.SparkCLI
        inputFiles:
          gcp-key.json: "{{ kv('GCP_CREDS') }}"
        containerImage: apache/spark:4.0.1-java21-r
        env:
          GCP_KEY_PATH: "gcp-key.json"
          SPARK_DRIVER_JAVA_OPTS: "-Djdk.security.allowNonCausingSubstitutions=true"
          SPARK_EXECUTOR_JAVA_OPTS: "-Djdk.security.allowNonCausingSubstitutions=true"
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
          networkMode: kestra-spark-network
          user: root
        commands:
          - >
            spark-submit 
            --master spark://spark-master:7077 
            --conf "spark.hadoop.google.cloud.auth.service.account.enable=true"
            --conf "spark.hadoop.google.cloud.auth.service.account.json.keyfile=gcp-key.json"
            --packages com.google.cloud.bigdataoss:gcs-connector:hadoop3-2.2.17 
            pyspark/gcs_spark_users.py

