flows/PRETTY.yaml
id: PRETTY
namespace: company.team

variables:
  # Use ">-" to strip the trailing newline so the filename attaches correctly
  spark_submit_base: >-
    spark-submit 
    --master spark://spark-master:7077 
    --conf "spark.jars.ivy=/tmp/.ivy2"
    --files gcp-key.json
    --packages com.google.cloud.bigdataoss:gcs-connector:hadoop3-2.2.17 
    --conf "spark.hadoop.google.cloud.auth.service.account.enable=true"
    --conf "spark.hadoop.google.cloud.auth.service.account.json.keyfile=gcp-key.json"

  # Common container images
  python_image: python:3.11-slim
  spark_image: apache/spark:4.0.1-java21-r

  # Spark environment variables (stored individually)
  ivy_home: "/tmp/.ivy2"
  gcp_key_path: "gcp-key.json"
  spark_driver_opts: "-Djdk.security.allowNonCausingSubstitutions=true"
  spark_executor_opts: "-Djdk.security.allowNonCausingSubstitutions=true"

  # Upload loop values
  gcs_files: ["Books.csv", "Users.csv", "Ratings.csv"]

tasks:
  - id: extraction_phase
    type: io.kestra.plugin.core.flow.WorkingDirectory
    tasks:
      - id: download_kaggle
        type: io.kestra.plugin.scripts.shell.Commands
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
        containerImage: "{{ vars.python_image }}"
        outputFiles: ["data/*.csv"]
        env:
          KAGGLE_USERNAME: "{{ kv('KAGGLE_USERNAME') }}"
          KAGGLE_KEY: "{{ kv('KAGGLE_KEY') }}"
        commands:
          - pip install kaggle
          - kaggle datasets download -d arashnic/book-recommendation-dataset
          - apt-get update && apt-get install -y unzip
          - mkdir -p data
          - unzip book-recommendation-dataset.zip -d data

  - id: upload_to_gcs
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{ vars.gcs_files }}"
    tasks:
      - id: upload_task
        type: io.kestra.plugin.gcp.gcs.Upload
        from: "{{ outputs.download_kaggle.outputFiles['data/' ~ taskrun.value] }}"
        to: "gs://kestra-bucket-latypov/raw/{{ taskrun.value }}"
        serviceAccount: "{{ kv('GCP_CREDS') }}"

  # ==========================================
  # PHASE 2: CLEAN SPARK PROCESSING
  # ==========================================

  - id: processing_phase
    type: io.kestra.plugin.core.flow.WorkingDirectory
    tasks:
      - id: clone_repository
        type: io.kestra.plugin.git.Clone
        url: https://github.com/ltp-94/kestra
        branch: main

      - id: gcs_spark_books
        type: io.kestra.plugin.spark.SparkCLI
        inputFiles:
          gcp-key.json: "{{ kv('GCP_CREDS') }}"
        containerImage: "{{ vars.spark_image }}"
        env:
          IVY_HOME: "{{ vars.ivy_home }}"
          GCP_KEY_PATH: "{{ vars.gcp_key_path }}"
          SPARK_DRIVER_JAVA_OPTS: "{{ vars.spark_driver_opts }}"
          SPARK_EXECUTOR_JAVA_OPTS: "{{ vars.spark_executor_opts }}"
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
          networkMode: kestra-spark-network
          user: root
        commands:
          - "{{ vars.spark_submit_base | trim}} pyspark/gcs_spark_books.py"

      - id: gcs_spark_users
        type: io.kestra.plugin.spark.SparkCLI
        inputFiles:
          gcp-key.json: "{{ kv('GCP_CREDS') }}"
        containerImage: "{{ vars.spark_image }}"
        env:
          IVY_HOME: "{{ vars.ivy_home }}"
          GCP_KEY_PATH: "{{ vars.gcp_key_path }}"
          SPARK_DRIVER_JAVA_OPTS: "{{ vars.spark_driver_opts }}"
          SPARK_EXECUTOR_JAVA_OPTS: "{{ vars.spark_executor_opts }}"
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
          networkMode: kestra-spark-network
          user: root
        commands:
          - "{{ vars.spark_submit_base | trim}} pyspark/gcs_spark_users.py"
